.padding_0px {
    padding-right: 0;
    padding-left: 0;
}

.image-container {
    width: 100%;
    max-height: 200px;
    /* Giới hạn chiều cao của ảnh */
    position: relative;
    overflow: hidden;
}

.img-one {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #ffffff;
}

.img-two {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #ffffff;
}

.img-three {
    width: 100%;
    max-height: 100px !important;
    border: 2px solid #ffffff;
    height: auto;
    object-fit: cover;
}